.selection__title {
  font-family: $oswald-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
}

.selection__description {
  font-family: $oswald-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.selection__button {
  border: 0;
}

/*имя, вес, возраст*/

.selection-field__label {
  font-family: $oswald-font;
  color: $dark-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.selection-label__input {
  font-family: $oswald-font;
  color: $dark-gray;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.selection-field__title {
  font-family: $oswald-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.selection__required {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
}
