.site-list__item {
  list-style-type: none;
}

.site-list__link {
  font-family: $oswald-font;
  color: $black;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
}
